/**
 * /* 斷點
 *
 * @format
 */

@media (max-width: 575px) {
  /* title page */
  .title-area h2 {
    font-size: 35px;
  }
  .content-cata {
    padding-right: 0px;
  }
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}
@media (max-width: 768px) {
  /* log */
  .pas-new {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .iptstyle {
    font-size: 1rem !important;
  }
  .iptbtndiv {
    width: 130px !important;
  }
  /* idxslider */
  .item-title {
    font-size: 2.5rem !important;
  }
  /* idxbanner */
  .idxbanner > .container > .row > div:nth-child(1),
  .idxbanner > .container > .row > div:nth-child(2) {
    padding-top: 15px;
  }
  .idxbanner > .container > .row > div:nth-child(3) {
    padding-top: 15px;
  }
  /* prodetail */
  .proddetail{
    width:100% !important;
  }
  /* footer */
  .footer-cata {
    flex-direction: column !important;
  }
  .fo-caco {
    width: 100% !important;
  }
}

@media (min-width: 992px) {
}
@media (max-width: 992px) {
  /* footer */
  .fo-caco {
    width: 33.3% !important;
  }
}
@media (min-width: 1200px) {
}

/*------------------------------------------*/
/* other */
.cht {
  font-family: "Noto Sans TC", sans-serif;
}

.iptdiv {
  height: 50px;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  overflow: hidden;
  margin-bottom: 20px;
  border: 2px solid #333333;
}
.iptstyle {
  width: 100%;
  height: 100%;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 1.2rem;
  color: #555555;
  line-height: 1.8;
  padding: 0px 22px;
  border: 2px solid #333333;
}

/* login */
.section-log {
  margin: 30px 0px;
}
.signinform {
  background: rosybrown;
  padding: 5% 5%;
  position: relative;
}
.signinform > form {
  position: relative;
}
.signinform > form > button {
  position: absolute;
  right: 0px;
}
.pas-new {
  text-align: left;
  height: 35px;
  margin-left: 10px;
}
.pas-new span {
  line-height: 35px;
}
.pas-new a {
  font: 1rem;
  font-family: "Noto Sans TC", sans-serif;
}
.formlog .row {
  margin: 0 !important;
}

/* sign up */
.signupform {
  padding: 5% 5%;
  position: relative;
}
.signupform h4 {
  margin-bottom: 15px;
}
.signupform > form {
  position: relative;
}
.signupform > form > button {
  position: absolute;
  right: 0px;
}

/* cart */
.cart-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: #222222;
  border-radius: 20px;
  transition: all 0.4s;
}

.cart-btn:hover {
  background-color: #e65540;
  color: white;
  font-family: Montserrat-Regular;
  font-size: 1rem;
  color: white;
  text-transform: uppercase;
}

/* 輪播圖 */
.idxslider {
  position: relative;
}
.item-desc {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 150px 15px;
}
.small-desc {
  font-family: Montserrat-Regular;
  font-size: 1.5rem;
  color: white;
  line-height: 1.5;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 15px;
}
.item-title {
  font-family: Poppins-Bold;
  font-size: 60px;
  color: white;
  line-height: 1.2;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 37px;
}
.item-btn {
  width: 160px;
}
.item-btn a {
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 46px;
  border-radius: 23px;
  font-family: Montserrat-Regular;
  font-size: 1rem;
  color: #111111;
  text-transform: uppercase;
  background: white;
}
.item-btn a:hover {
  background-color: #e65540;
  color: white;
  transition: all 0.4s;
}
/* 圖片的左右箭頭 */
.idxslider:hover .arrow-slick1 {
  opacity: 0.5;
}
/* idxbanner */
.idxbanner {
  padding: 40px 0px;
}
.block-col {
  display: block;
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
}
.block-col img {
  width: 100%;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  -moz-transition: all 0.6s;
  transition: all 0.6s;
}
.block-col:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.col-btn {
  width: 180px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.1);
}
.col-btn a {
  width: 100%;
  height: 46px;
  font-family: Montserrat-Regular;
  font-size: 1rem;
  color: #333333;
  background-color: rgba(255, 255, 255, 0.95);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s;
}
.col-btn a:hover {
  background-color: #e65540;
  color: white;
}
/* 方框special content */
.col-saletxt {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.col-saletxt h4 {
  font-family: Montserrat-Medium;
  font-size: 30px;
  color: #111111;
  text-align: center;
  line-height: 1.2;
  text-transform: uppercase;
  max-width: 295px;
  padding-bottom: 8px;
}
.col-saletxt p {
  max-width: 260px;
  text-align: center;
}

.col-saletxt > .saletxt-btn {
  width: 180px;
  padding-top: 25px;
}
.col-saletxt > .saletxt-btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 46px;
  border-radius: 23px;
  background-color: #111111;
  font-family: Montserrat-Regular;
  font-size: 16px;
  color: white;
  text-transform: uppercase;
  transition: all 0.4s;
}
.col-saletxt > .saletxt-btn a:hover {
  background-color: #e65540;
  color: white;
}

/* slider */
/* newprod */
.newproduct,
.mainproduct {
  background: white;
  padding-top: 45px;
  padding-bottom: 105px;
}
.newproduct > .container > div,
.mainproduct > .container > div {
  padding-bottom: 60px;
}
.otherprod > .container > div{
  padding-bottom:60px;
  position: relative;
}
.otherprod > .container > div > h3,
.newproduct > .container > div > h3,
.mainproduct > .container > div > h3 {
  font-family: Montserrat-Bold;
  font-size: 30px;
  color: #222222;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
}

/* 加入購物車及加入願望 */
.wish_cart {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.wish_cart:hover {
  opacity: 1;
}

.addwish {
  display: block;
  position: absolute;
  top: 26px;
  right: 20px;
  font-size: 20px;
  color: white;
  line-height: 0;
  transform: scale(0);
  cursor: pointer;
  transition: all 0.4s;
}

.addwish:hover {
  color: white;
}
.addwish:hover .icon_heart_alt {
  display: none;
}
.addwish:hover .icon_heart {
  display: block;
}

.addcart {
  width: 160px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -45px;
}
.btn-addcart {
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  width: 100%;
  height: 40px;
  background: black;
  border-radius: 23px;
  font-family: Montserrat-Regular;
  font-size: 1rem;
  color: white;
  text-transform: uppercase;
  transition: all 0.4s;
}
.btn-addcart:hover {
  background-color: #e65540;
  color: white;
}

.wish_cart:hover .addcart {
  bottom: 20px;
}
.wish_cart:hover .addwish,
.wish_cart:hover .btn-towishlist {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.addwish .icon-wishlist,
.btn-towishlist .icon-wishlist {
  line-height: 0;
}

/* 每個商品 */
.listitem {
  padding: 0px 15px;
}

/* 商品售價及名稱 */
.prod_napr {
  display: block;
  font-family: Montserrat-Regular;
  font-size: 1rem;
  color: #555555;
  line-height: 1.5;
}
.prod_price {
  padding-bottom: 5px;
  font-size: 1rem;
  color: #555555;
}
.prod_oldprice {
  padding-bottom: 5px;
  font-size: 1rem;
  color: #555555;
  text-decoration: line-through;
}
.prod_sprice {
  font-family: Montserrat-Regular;
  font-size: 16px;
  color: #e65540;
  text-transform: uppercase;
}
/* 圖片 */
/* 左右箭頭 */
#otherprod #slider-mainprod,
#slider-newprod {
  position: relative;
  margin-right: -15px;
  margin-left: -15px;
}
.prod_img {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

.prod_img img {
  width: 100%;
}

/* 有新增 sale標籤 */
.prodlabelsale::before,
.prodlabelnew::before {
  z-index: 100;
  font-family: Montserrat-Regular;
  font-size: 12px;
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 22px;
  border-radius: 11px;
  position: absolute;
  top: 12px;
  left: 12px;
}
.prodlabelsale::before {
  background-color: #e65540;
  content: "Sale";
}

.prodlabelnew::before {
  background-color: #66a8a6;
  content: "New";
}

/* footer */
.fo-caco {
  width: 13%;
  padding-top: 30px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 1rem;
}
.fo-caco h4 {
  font-family: Montserrat-Bold;
  font-size: 1rem;
  color: #222222;
  line-height: 1rem;
  text-transform: uppercase;
  padding-bottom: 1rem;
}
.fo-copyr {
  font-family: Montserrat-Regular;
  font-size: 13px;
  color: #888888;
  line-height: 1.8;
  padding: 15px 0;
}

/* 商品頁 */
/* Prod title page */
.title-area {
  width: 100%;
  min-height: 239px;
  padding-left: 15px;
  padding-right: 15px;
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.title-area h2 {
  font-family: Montserrat-Bold;
  font-size: 50px;
  color: white;
  line-height: 1.2;
  text-transform: uppercase;
}
.title-area p {
  font-family: Montserrat-Regular;
  font-size: 18px;
  color: white;
  line-height: 1.8;
}
/* 商品清單列內容 */
.prod-content-page {
  background: white;
  padding-top: 55px;
  padding-bottom: 65px;
}
.prod-content-left {
  padding-bottom: 30px;
}
.content-cata {
  padding-right: 20px;
}
.content-cata h4 {
  font-family: Montserrat-Black;
  font-size: 18px;
  color: #333333;
  line-height: 1.5;
  padding-bottom: 7px;
}
.content-cata ul {
  padding-bottom: 30px;
}
.content-cata ul li {
  padding-bottom: 4px;
}
.content-cata ul li a {
  font-family: Montserrat-Regular;
  font-size: 15px;
  color: #888888;
  line-height: 1.8;
  text-decoration: none;
}
.content-cata ul li a:hover {
  color: #e65540;
}

.cata-active {
  color: red !important;
}
.search-product {
  position: relative;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  overflow: hidden;
  margin-bottom: 54px;
}
.iptsearch {
  font-family: Montserrat-Regular;
  font-size: 13px;
  color: #555555;
  line-height: 1.8;
  width: 100%;
  height: 58px;
  padding-left: 23px;
  padding-right: 50px;
}
.searchbar {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 58px;
  color: #333333;
  transition: all 0.4s;
}
.searchbar:hover {
  color: #e65540;
}
.showresult {
  padding: 15px 0px;
  font-family: Montserrat-Regular;
  font-size: 13px;
  color: #888888;
  line-height: 1.8;
}

.otherprod {
  background: white;
  padding-top: 45px;
  padding-bottom: 138px;
}
.proddetail--price{
  font-family: Montserrat-Regular;
	font-size: 30px;
	color: #555555;
	line-height: 1.2;
}
.proddetail{
  width: calc(47% - 55px);
  padding-top:30px;
}
.proddetail-name{
  font-family: Montserrat-Regular;
	font-size: 1.5rem;
	color: #222222;
  line-height: 1.5;
  padding-bottom: 13px;
}
.short-desc{
  font-family: Montserrat-Regular;
	font-size: 1rem;
	color: #888888;
  line-height: 1.8;
  padding-bottom: 10px;
}
/*  */
.wrap-slick3{
  display: flex;
  justify-content: space-between;
	flex-wrap: wrap;
}

/* 會員專區 */
#memberarea{
  height: 100%;
  margin-top: 20px;
}